#body{
    position: relative;
    margin: 20px;
  }

.bg__img{
  position: absolute;
  background-image: url(img/bg-img.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 100%;
  height: auto;
  }
